@import 'src/variables.scss';

.app-image {
  height: 60%;
  margin-right: 10px;
}

.navigation-button {
  margin: 0 10px;
}

.menu-container {
  height: $toolbar-height;
  align-items: center;
  display: flex;
  margin-right: 25px;
}
