@import 'src/variables.scss';

.app-image {
  height: 60%;
  margin-right: 10px;
}

.navigation-button {
  margin: 0 10px;
}

mat-toolbar {
  height: $toolbar-height;
}

.link-menu {
  display: none;
  width: 100%;
}

@media only screen and (max-width: $breakpoint) {
  .link-list {
    display: none;
  }

  .link-menu {
    display: inherit;
  }
}
