@import 'src/variables.scss';
@import '~@angular/material/theming';

.toolbar {
  @include mat-elevation(8);
}

.list-item-active {
  background-color: grey;
}

mat-toolbar {
  height: $toolbar-height;
}

.link-list {
  height: 100%;
}

.link-menu {
  display: none;
  height: 100%;
}

@media only screen and (max-width: $breakpoint) {
  .link-list {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .link-menu {
    display: inherit;
  }
}
