<mat-toolbar class="toolbar">
  <img [routerLink]="['/']" src="/assets/icon.png" class="app-image" alt="microurl" />
  <span [routerLink]="['/']">microurl</span>
  <div class="link-list">
    <button class="navigation-button" mat-button [routerLink]="['/']">
      <mat-icon>link</mat-icon>
    </button>
    <button class="navigation-button" mat-button [routerLink]="['/editor']">
      <mat-icon>code</mat-icon>
    </button>
    <button class="navigation-button" mat-button [routerLink]="['/diff']">
      <mat-icon>compare</mat-icon>
    </button>
    <button class="navigation-button" mat-button [routerLink]="['/stats']">
      <mat-icon>trending_up</mat-icon>
    </button>
  </div>

  <div class="link-menu">
    <button class="navigation-button" mat-button [routerLink]="['/stats']">
      <mat-icon>trending_up</mat-icon>
    </button>
  </div>

</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
