<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar class="toolbar">
      <app-toolbar-logo [showMenu]="true" (toggle)="sidenav.toggle()"></app-toolbar-logo>
    </mat-toolbar>
    <div>
      <mat-nav-list>
        <a *ngFor="let entry of navigationEntries" mat-list-item (click)="sidenav.close()" routerLinkActive
          #routerLinkActiveInstanceSettings="routerLinkActive" [routerLinkActiveOptions]="{exact: button.matchExact}"
          [class.list-item-active]="routerLinkActiveInstanceSettings.isActive" [routerLink]="[entry.route]">
          <mat-icon matListIcon>{{entry.icon}}</mat-icon>
          {{entry.name}}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-progress-bar *ngIf="loading" color="secondary" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar class="toolbar">
      <div class="link-menu">
        <app-toolbar-logo [showMenu]="true" (toggle)="sidenav.toggle()"></app-toolbar-logo>
      </div>

      <div class="link-list">
        <app-toolbar-logo [showMenu]="false" (toggle)="sidenav.toggle()"></app-toolbar-logo>
      </div>

      <div class="nav-buttons">
        <a *ngFor="let button of navigationEntries" mat-button routerLinkActive
          #routerLinkActiveInstanceSettings="routerLinkActive" [routerLinkActiveOptions]="{exact: button.matchExact}"
          [class.list-item-active]="routerLinkActiveInstanceSettings.isActive" [routerLink]="[button.route]">
          <mat-icon>{{button.icon}}</mat-icon>
          {{button.name}}
        </a>
      </div>

    </mat-toolbar>
    <main [@fadeAnimation]="prepareRoute(o)">
      <router-outlet #o="outlet">
      </router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
