<div>
  <div class="editor-toolbar">
    <div class="select-container">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedLanguage" (valueChange)="languageChanged()">
          <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="spacer"></div>
    <div class="buttons-container">
      <button class="save-button" color="primary" mat-raised-button (click)="save()">SAVE</button>
    </div>
  </div>
  <app-monaco-editor [creator]="editorCreator"></app-monaco-editor>
</div>
