<mat-toolbar>
  <img [routerLink]="['/']" src="/assets/icon.png" class="app-image" alt="microurl" />
  <span [routerLink]="['/']">microurl</span>
  <button class="navigation-button" mat-button [routerLink]="['/']">
    <mat-icon>link</mat-icon>
    Links
  </button>
  <button class="navigation-button" mat-button [routerLink]="['/editor']">
    <mat-icon>code</mat-icon>
    Editor
  </button>
  <button class="navigation-button" mat-button [routerLink]="['/diff']">
    <mat-icon>compare</mat-icon>
    Diff
  </button>
  <button class="navigation-button" mat-button [routerLink]="['/stats']">
    <mat-icon>trending_up</mat-icon>
    Stats
  </button>

</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
