<app-titled-card title="Shorten">
  <form [formGroup]="urlForm" class="url-form">
    <div class="input-line-container">
      <mat-form-field class="url-input" appearance="fill">
        <mat-label>URI</mat-label>
        <input type="url" matInput placeholder="paste here" formControlName="url">
        <div matPrefix class="prefix">
          <mat-icon matPrefix>link</mat-icon>
        </div>
        <mat-hint>Paste URI to get started!</mat-hint>
        <mat-error *ngIf="urlForm.get('url')!.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="urlForm.get('url')!.hasError('url')">
          Please provide a valid URL
        </mat-error>
        <mat-error *ngIf="urlForm.get('url')!.hasError('server')">
          {{urlForm.get('url')!.getError('server')}}
        </mat-error>
      </mat-form-field>
      <button *ngIf="canPaste" mat-icon-button (click)="pasteFromClipboard()">
        <mat-icon>note</mat-icon>
      </button>
    </div>
    <div class="shorten-line">
      <div class="spacer"></div>
      <div class="spinner" *ngIf="loading">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
      <div>
        <button [disabled]="!urlForm.valid || loading" mat-raised-button color="primary" (click)="shorten()">
          SHORTEN URL
        </button>
      </div>
    </div>

    <mat-list *ngIf="shortenedUrls.length > 0">
      <app-url-result *ngFor="let shortenedUrl of shortenedUrls" [url]="shortenedUrl.url"
        [targetUrl]="shortenedUrl.targetUrl"></app-url-result>
    </mat-list>
  </form>
</app-titled-card>
