/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'src/mixins.scss';
@import '~@angular/material/theming';

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(30, 30, 30);
}

main {
  overflow-y: auto;
  @include non-toolbar-height;
}

a {
  color: white;
}

a:hover, a:active {
  color: darken(white, 20%);
}

.editor-toolbar {
  height: $editor-toolbar-height;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
